@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Go to Ricerca Prodotti</h1>
    <p class="lead">Da qua si può entrare in Ricerca Prodotti</p>
    <p><a href="RicercaProdotti" class="btn btn-primary btn-lg">Vai a ricerca prodotti &raquo;</a></p>
</div>

